 @charset "utf-8";   
 .v_main {margin:0 auto;background:#fff;overflow:hidden;}
 .v_menu { height:60px; color:#fff; background:#3fcc84;}
 .v_menu_b { height:88px; background:#3fcc84;}
.about_my li img { height:70px; margin-top:6px;}
 .v_menu_w {margin:0 auto;background:#3fcc84; height:60px;}
.v_menu_w ul li { float:left;}
.v_menu_w ul li a {  vertical-align:middle; display:block; text-align:center;}
.v_menu_w ul li .current { vertical-align:middle; display:block;text-align:center;font-size:16px;}
.v_menu_w .search input {background:#2fbc78; border:0 none;border-bottom-left-radius:20px;border-top-left-radius:20px; color:#fff; font-size:13px;width:220px; height:32px; float:left; margin:14px 0px 14px 50px; text-align:left; padding-left:18px;}
.v_menu_w .search button {background:#2fbc78; border:0 none;border-bottom-right-radius:20px;border-top-right-radius:20px; color:#fff; font-size:13px;width:30px; height:32px; float:left; margin:14px 10px 14px 0px; text-align:center; cursor:pointer;}
.v_menu_w .search button .search_icon {background-position:-2px -68px; margin-left:-15px; }
.share_icon , .search_icon , .v_menu_w .creat_info span , .time_icon, .view_times , .user_no ,.comment_icon ,.like_icon ,.favorites_icon ,.e_zambia_icon ,.e_comment_icon{ background:url(../images/v_icon.png); background-repeat:no-repeat;width:21px; height:21px;display:inline-block;vertical-align:middle; cursor:pointer;}
.view_times {background-position:-2px -2px;margin-left:8px; margin-right:5px;}
.user_no {background-position:-2px -25px;margin-left:18px;margin-right:3px;}
.v_menu_w .login { float:right; display:block; height:60px; width:120px; vertical-align:middle; line-height:60px;background:url(../images/login_line.png);}
.v_menu_w .login_ing {float:right; display:block; height:40px; width:120px; vertical-align:middle; line-height:40px; padding-top:15px;}
.v_menu_w .login_ing .user_name .caret {border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid;display:inline-block;height:0;margin-left:6px;width:0;vertical-align:middle;font-weight:700;}
.v_menu_w .login_ing a { color:#fff;}
.v_menu_w .login_ing .user_name { height:30px; line-height:30px; display:block;float:left; margin-left:8px;}
.v_menu_w .login_ing img {border-radius:50%; float:left;}
.v_menu_w .login img { height:30px; width:30px; border-radius:15px; margin-top:15px;}
.v_menu_w .login a { height:30px; line-height:30px; width:30px;color:#fff; display:block; float:right; margin-top:15px; margin-right:20px;}
.v_menu_w .login a:hover { text-decoration:underline;}
.v_menu_w .creat_info { height:60px; line-height:60px; width:130px; display:block; float:right; text-align:center; color:#fff; border-left:1px solid #2fbc78;border-right:1px solid #2fbc78; font-size:14px;}
.v_menu_w .creat_info:hover {background:#2fbc78;}
.v_menu_w .creat_info span { height:12px; width:12px; display:inline-block; background-position:-5px -90px; margin-right:6px;}
.v_main .b_r {width:200px; text-align:center; float:right;color:#b2bcc5;padding-top:15px;}
.v_main .b_c { text-align:center; float:right; padding-top:15px;}
.v_main .b_l { width:400px;text-align:left; float:right; color:#b2bcc5; padding-top:15px; padding-left:25px; line-height:22px;}
.v_main .b_l a {color:#b2bcc5;line-height:22px;}
.v_menu_w .qq_login ,.v_menu_w .wx_login,.v_menu_w .qq_login:hover ,.v_menu_w .wx_login:hover{ height:30px; width:30px;background:url(../images/v_icon.png);display:inline-block;vertical-align:middle; float:right; margin-top:15px; margin-right:5px; cursor:pointer;}
.v_menu_w .qq_login {background-position:-2px -105px;}
.v_menu_w .wx_login {background-position:-2px -135px;}
.v_menu_w .qq_login:hover {background-position:-37px -105px;}
.v_menu_w .wx_login:hover {background-position:-39px -135px;}
.time_icon {background-position:-2px -168px; margin-right:3px;}
.e_comment_icon , .comment_icon {background-position:0px -217px;margin-left:18px; margin-right:5px;}
.like_icon {background-position:0px -237px;margin-left:18px; margin-right:5px;}
.favorites_icon{background-position:0px -192px;margin-left:18px; margin-right:5px;}

.v_main { width:1180px;}
.about_my li { width:295px; height:88px; overflow:hidden; float:left;background:#3fcc84; text-align:center;}
.v_menu_w ul li a { line-height:60px;width:75px; color:#FFF; font-size:16px;}
.v_menu_w ul li a:hover { background:#2fbc78;}
.v_menu_w ul li .current { line-height:60px;width:65px; color:#FFF; background:#2fbc78;}
.v_menu_w {width:1180px;}
.v_menu_w .logo { float:left;}
.v_main .b_c {width:550px;}

.page_tit { height:70px; line-height:70px; border-bottom:1px solid #e7e6eb; font-size:26px;}

.index_left {width:870px; float:left;}
.index_right {width:280px; float:left; background:#fafafa;}
.index_right_list { border-bottom:1px solid #f0f0f0;width:250px; margin:0 auto;}
.index_right_list a{ font-size:15px; line-height:28px;background:url(../images/arrow.jpg) no-repeat 10px 6px; padding-left:25px;}
.index_right_list a:hover{ font-size:15px; line-height:28px; text-decoration:underline; color:#3fcc84;}
.index_left_tit {width:140px; height:30px; border-left:4px solid #3fcc84; margin:20px 12px; font-size:20px; padding-left:10px; line-height:30px;}
.a_time { color:#bbbbbb; height:50px; line-height:50px; display:block; font-size:13px;}

#tbox{width:72px; float:right; position:fixed; right:50px; bottom:15px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:15px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#float_btn,#gotop{ width:72px; background:url(../images/float_btn.png) no-repeat; display:block;}
#gotop{ background-position:0 0; height:30px;}
#float_btn{ background-position:0 -30px; height:105px;} 


.loginBar {width:550px; background:#fff;border-radius:5px;}
.login_tit { background:#eaeaea; height:50px; line-height:50px; font-size:18px; text-align:center; font-weight:normal;border-radius:5px 5px 0 0;}
.login_tit a{ width:40px; height:34px; margin-right:10px; line-height:34px; padding-top:2px; color:#666;background:url(../images/close.jpg) center right no-repeat ; font-size:12px; padding-right:8px; }
.loginBar .sign_up a { width:40px; height:34px; margin-right:10px; line-height:34px; padding-top:2px; color:#666;background:url(../images/sign_up.jpg) center right no-repeat ; font-size:12px; padding-right:8px; }
.login_main { padding:10px 50px;}
.login_main ul li .login_yzm {width:140px; height:40px; line-height:40px;; color:#50b400; top:22px; right:16px; background:#efeeee;border-radius:5px; cursor:pointer; border:0;}
.login_main ul li { font-size:14px; height:80px; line-height:80px;}
.login_main ul li .login_text { width:410px; height:24px; line-height:24px; padding:15px; border:1px solid #cbcbcb; color:#898989;border-radius:3px; font-size:16px;}
.login_main ul li button ,.form_group .form_li .form_li_submit ,.report_box button {width:440px; height:56px; line-height:56px; background:#3fcc84;border-radius:3px; color:#fff; border:0; cursor:pointer;}
.login_main ul li a { color:#2578bf; font-size:14px;}
.login_line { font-size:15px;  text-align:center;background:url(../images/line.png) repeat-x 0 center; overflow:hidden; margin-bottom:20px;width:90%; margin:0 auto;}
.login_line span { width:180px;height:32px; line-height:32px; margin:0 auto; color:#898989; background:#fff;}
.login_icon {width:80%; margin:0 auto;}
.login_icon ul li {width:50%; float:left; text-align:center;}
.login_icon ul li a {width:86px; height:86px; display:block; }
.wx_login_icon ,.qq_login_icon {background:url(../images/login_icon.png); background-repeat:no-repeat; width:86px; line-height:86px; height:86px; margin:35px 55px; cursor:pointer;}
.wx_login_icon {background-position:0px 0px;}
.qq_login_icon {background-position:0px -86px;}
.re_p {width:450px; margin:0 auto;}
.re_p2 {width:550px; margin:0 auto;}
.reg_agreement a { color:#2578bf;}
.reg_agreement { display: block; padding-left:10px;}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius:50%;
	display: inline-block;
	position: relative;
	margin-top:8px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #fff;
	border: 1px solid #3fcc84;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -8px;
	left: 3px;
	color: #3fcc84;
}


.big-checkbox + label {
	padding: 12px;
}

.big-checkbox:checked + label:after {
	font-size: 20px;
	left: 4px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #3fcc84;
	
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #fff;
	color: #99a1a7;
	border: 1px solid #3fcc84;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 13px; margin-left:15px; margin-top:7px;
}

.big-radio:checked + label:after {
	width: 18px;
	height: 18px;
	left: 4px;
	top: 4px;
}


