@charset "utf-8";
/* CSS Document */

.index_left_list { border-bottom:1px solid #e0e0df; height:235px; margin-bottom:30px; padding-left:330px; color:#b1b0b0; overflow:hidden;}
.index_left ul li > a { float:left; margin-left:-330px;}
.index_left ul li h3 { margin-bottom:12px; padding-top:3px; line-height:32px; font-size:20px;}
.index_left ul li h3 a { font-weight:400; color:#333333}
.index_left ul li h3 a:hover { text-decoration:underline;}

.a_price { font-size:30px; color:#ff6633; font-weight:bold;}
.a_price_f ,.a_price ,.user_other ,.a_price_r {display:block; height:46px; line-height:46px;}
.user_o img { height:30px; line-height:30px; width:30px;border-radius:30px; float:left; margin-right:8px;}
.user_name { height:30px; line-height:30px; display:block;float:left;}

.index_left_list div em { width:200px; display:inline;}



.get_more { height:50px; line-height:50px; background:#fafafa; border:1px solid #e2e2e2; font-size:15px;border-radius:30px; margin:40px 0; text-align:center; cursor:pointer; color:#818181;}
.get_more:hover { background:#fff;}
.con_list { padding:30px 30px 15px 30px; background:#fafafa; border:1px solid #e0e0df; width:1120px; margin:40px auto;}
.con_list div { margin-bottom:10px;}
.con_list div span { color:#b1b0b0; display:inline-block;float:left; font-size:14px;}
.con_list div ul li { float:left; margin-right:10px;}
.con_list div ul li a { font-size:14px; display:block; padding:1px 9px;}
.con_list div ul li a:hover , .list_active a { background:#3fcc84;border-radius:2px;font-size:14px; display:block; padding:1px 9px; color:#fff;}