@charset "utf-8";
/* CSS Document */
body { background:#f2f2f2;}
.u_page_left {width:299px; }
.u_page_right {width:820px; padding:10px 30px;border-left:1px solid #e4e4e4;}
.u_info { height:170px; text-align:center; padding-top:30px;}
.u_info a { display:block; margin-top:30px; margin:0 auto;}
.u_info a img {width:100px; height:100px;border-radius:50%; border:6px solid #e5e5e5;}
.u_info .u_name { display:block; height:36px; line-height:36px; font-size:16px; color:#0169cc;}
.u_menu_bc { height:60px; width:299px;background:#3fcd85;}
.u_menu_sc { padding-top:10px; padding-bottom:10px;}
.u_menu_sc ul li { height:40px; line-height:40px; width:230px; margin-left:65px;}
.u_menu_sc_c {background:url(../images/v_icon.png) no-repeat 10px 6px;background-position:0px -355px; color:#ff6101;}
.u_menu_sc ul li a { display:block; font-size:16px;background:url(../images/v_icon.png) no-repeat 10px 6px; padding-left:25px;background-position:0px -327px; height:40px; line-height:40px;}
.u_menu_sc ul li a:hover {background:url(../images/v_icon.png) no-repeat 10px 6px;background-position:0px -355px; color:#ff6101;}
.u_menu_bc .u_menu_arrow {background:url(../images/menu_bg_arrow.jpg); width:9px; height:60px;}
.u_menu_bc .u_menu_icon_01 ,.u_menu_bc .u_menu_icon_02 {background:url(../images/v_icon.png); width:35px; height:60px; margin-left:40px;}
.u_menu_bc .u_menu_icon_01 {background-position:0px -387px;}
.u_menu_bc .u_menu_icon_02 {background-position:0px -440px;}
.u_menu_bc .u_menu_bc_name { height:60px;font-size:18px; color:#fff; line-height:60px;}
.page_prompt { height:40px; line-height:40px; color:#696969; font-size:14px; margin-top:10px;}
.page_prompt a { color:#2578bf;}

.a_list ul li { height:140px; border-bottom:1px solid #e4e4e4;padding-left:190px; padding-top:25px;}
.a_list ul li h3 a { font-size:18px; font-weight:400; display:block; height:30px;}
.a_list ul li >a { float:left; margin-left:-190px;}
.a_list_time ,.a_list_no { color:#7c7c7c; height:30px; line-height:30px;}
.a_list_lable01 , .a_list_lable02 , .a_list_lable03 , .a_list_lable04 { width:70px; height:26px; line-height:26px; text-align:center; color:#fff; font-size:12px; display:inline-block; margin-left:10px;}
.a_list_lable01 { background:#3fcc84;}
.a_list_lable02 { background:#ea8010;}
.a_list_lable03 { background:#596f8a;}
.a_list_lable04 { background:#c8c8c8;}
.a_list_search { display:block; float:right; font-size:14px;}
.a_list_search button ,.form_group .form_li .small_button{ background:#3fcc84; height:30px; padding:0 18px; line-height:30px; text-align:center; color:#fff; border:0; margin-left:8px; cursor:pointer;}
.a_list_search_date {padding:6px; border:1px solid #cbcbcb; color:#898989;border-radius:3px; font-size:14px; margin:6px;}
.form_group .form_li ,.form_group .form_li01 ,.form_group .form_li2 { padding-left:90px; margin-bottom:30px;}
.form_group .form_li .info_input {height:24px; line-height:24px; padding:15px; border:1px solid #cbcbcb; color:#898989;border-radius:3px; font-size:16px; margin-left:25px;}
.form_group .form_li .info_text ,.form_group .form_li .info_text2 { display: inline-block;width:80px; text-align:right; margin-left:-90px; font-size:14px;}
.form_group .form_li .info_text { height:58px; line-height:58px; }
.form_group .form_li .info_text2 {height:438px; line-height:438px;}
.long_input {width:1000px;}
.big_input {width:650px;}
.small_input{width:295px;}
.form_group .form_li .info_yz { display:inline-block; height:58px; line-height:58px;}
.form_group .form_li .form_li_submit { margin:0 auto;}
.form_group .form_li .photo01 ,.form_group .form_li .photo02 ,.form_group .form_li .photo03  { display:inline-block; margin-left:20px;}
.form_group .form_li .photo04 { display:block; margin-left:20px; float:right;width:285px; height:230px;}
.form_group .form_li .photo05 { display:block; margin-left:20px; float:left;width:395px; height:230px;}
.form_group .form_li .photo01 img ,.form_group .form_li .photo02 img ,.form_group .form_li .photo03 img {border-radius:50%;}
.form_group .form_li .photo04 .up_load { border:1px solid #e4e4e4; background:#f5f5f5; font-size:18px; width:150px; height:50px; margin-top:50px; margin-left:50px; cursor:pointer;}
.form_group .form_li .photo05 .up_load{ border:1px solid #e4e4e4; background:#f5f5f5; font-size:18px; width:150px; height:50px; margin-top:50px; margin-left:120px; cursor:pointer;}
.form_group .form_li .photo04 p ,.form_group .form_li .photo05 p { line-height:26px; color:#898989;}

.info_label { display:inline-block; color:#949494;}
.info_label label {margin-left:25px; margin-right:5px;}
.form_group .form_li .form_li_preview{width:300px;height:56px; line-height:56px; background:#fc893d; color:#fff;border-radius:3px;border:0; cursor:pointer; margin-left:25px;}
.form_group .form_li .form_li_time {color:#949494;display:inline-block; margin-left:25px; margin-right:-10px;}
.form_group .form_li .form_li_editor {display:inline-block;height:438px; line-height:438px; margin-left:12px;}
.form_group .form_li .form_li_photo ,.form_group .form_li .form_li_photo_font {display:block;height:58px; line-height:58px; margin-left:12px;color:#898989;}
.form_group .form_li .form_li_photo {background:url(../images/add_photo.png); cursor:pointer;width:58px;}

.form_li_label {margin-top:-43px; margin-left:90px;}
.form_li_label ul li { display:inline-block; float:left; background:#e0dfdf; height:25px; line-height:25px; text-align:center; padding:0 15px;border-radius:15px; margin:10px 0px 10px 10px; font-size:14px; cursor:pointer;}
.form_li_label ul li a { color:#7c7c7c;}
.form_li_label span { color:#b1b0b0; float:left;}
.success_info { margin:0 auto; width:730px; height:350px; padding:20px;}
.success_icon { display:inline-block; margin:15px;}
.success_font {display:inline-block; font-size:15px; line-height:30px; padding-top:20px;}
.success_btn { border:1px solid #3fcc84; color:#3fcc84; height:50px; width:215px;border-radius:3px; margin:10px; background:#fff; font-size:15px; cursor:pointer;}
.success_btns { text-align:center;}
.success_btns p { text-align:left; padding:10px 20px;}
