<div class="v_menu">
<div class="v_menu_w">
<a href="index.html" class="logo"><img src="../images/logo.png" /></a>
<ul>
<li><a href="index.html">首页</a></li>
<li><a href="list.html">活动</a></li>
</ul>
<form class="search" target="_blank" method="post"><input type="text" placeholder="" value="搜索你想要的活动" /><button><span class="search_icon"></span></button></form>
<span class="qq_login"><a href=""></a></span><span class="wx_login"><a href=""></a></span>
<span class="login"><a href="reg.html">注册</a><a href="">登录</a></span>
<div class="clear"></div>
</div>
</div>