<div class="loginBar" style="display:none; height:580px;" id="loginBar">
<h2 class="login_tit"><a href="#" class="db fr" onClick="javascript:showDialog.hide();" ></a>会员登录</h2>
<div class="login_main">
<ul>
<li style="height:40px; line-height:40px;">您还没有登录或注册</li>
<li><input name="mod_no" type="text" placeholder="请输入手机号" class="login_text"/></li>
<li><input name="paddword" type="text" placeholder="密码" class="login_text"/></li>
<li style="height:40px; line-height:40px;"><a href="">免费注册</a><span class="fr"><a href="">忘记密码?</a></span></li>
<li><button class="f16">会员登录</button></li>
</ul>
</div>
<div class="login_line"><span class="db">使用以下账号登录</span></div>
<div class="login_icon">
<ul>
<li><a href=""><span class="wx_login_icon db"></span></a></li>
<li><a href=""><span class="qq_login_icon db"></span></a></li>
</ul>
<div class="clear"></div>
</div>
</div>