
<!--日期控件-->
<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css"/>
<!--日期控件-->

<div class="u_page_right fl ms-controller" ms-controller="myhuodongView" id="myhuodongView">
<div class="page_tit">我发布的活动<span class="a_list_search">从<input name="start_date" type="text" class="a_list_search_date some_class" value="" id="some_class_1"/>到<input name="end_date" type="text" class="a_list_search_date some_class" value="" id="some_class_2"/><select name="state">
  <option value="1">进行中</option>
</select><button>搜索</button></span></div>
<div class="a_list">
<ul>
	
<li ms-for="el in @info">
<a ms-attr="{href: 'event_info.html?id='+el.id}"><img ms-attr="{src: el.url}" width="170" height="114" border="0"></a>
<h3><a ms-attr="{href: 'event_info.html?id='+el.id}">{{el.title}}</a></h3>
<div class="a_list_time f14">活动时间：2016-06-09<span class="a_list_lable01">进行中</span></div>
<div class="a_list_no">报名人数：201人</div>
</li>


</ul>
</div>
</div>






