
<!--日期控件-->
<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css"/>
<!--日期控件-->

<div class="u_page_right fl">
<div class="page_tit">我发布的活动<span class="a_list_search">从<input name="start_date" type="text" class="a_list_search_date some_class" value="" id="some_class_1"/>到<input name="end_date" type="text" class="a_list_search_date some_class" value="" id="some_class_2"/><select name="state">
  <option value="1">进行中</option>
</select><button>搜索</button></span></div>
<div class="a_list">
<ul>
<li>
<a href="event_info.html"><img src="../images/temp/a1.jpg" width="170" height="114" border="0"></a>
<h3><a href="event_info.html">相约小浪底体验中原地区首个森林氧吧山地车主题公园</a></h3>
<div class="a_list_time f14">活动时间：2016-06-09<span class="a_list_lable01">进行中</span></div>
<div class="a_list_no">报名人数：201人</div>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a2.jpg" width="170" height="114" border="0"></a>
<h3><a href="event_info.html">《极限户外洛阳唐朝车队》周六发队大雨淋</a></h3>
<div class="a_list_time f14">活动时间：2016-06-09<span class="a_list_lable02">待审核</span></div>
<div class="a_list_no">报名人数：201人</div>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a3.jpg" width="170" height="114" border="0"></a>
<h3><a href="event_info.html">【风迹俱乐部】6.5（周日）割艾采冬苓草休闲游</a></h3>
<div class="a_list_time f14">活动时间：2016-06-09<span class="a_list_lable03">未通过</span></div>
<div class="a_list_no">报名人数：201人</div>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a4.jpg" width="170" height="114" border="0"></a>
<h3><a href="event_info.html">【骑友驿站】铁二梦想队6.4日周六铁人两项活动邀请帖</a></h3>
<div class="a_list_time f14">活动时间：2016-06-09<span class="a_list_lable04">已过期</span></div>
<div class="a_list_no">报名人数：201人</div>
</li>
</ul>
</div>
</div>

<!--日期控件-->
<script>/*
window.onerror = function(errorMsg) {
	$('#console').html($('#console').html()+'<br>'+errorMsg)
}*/

$.datetimepicker.setLocale('en');

$('#datetimepicker_format').datetimepicker({value:'2015/04/15 05:03', format: $("#datetimepicker_format_value").val()});
console.log($('#datetimepicker_format').datetimepicker('getValue'));

$("#datetimepicker_format_change").on("click", function(e){
	$("#datetimepicker_format").data('xdsoft_datetimepicker').setOptions({format: $("#datetimepicker_format_value").val()});
});
$("#datetimepicker_format_locale").on("change", function(e){
	$.datetimepicker.setLocale($(e.currentTarget).val());
});

$('#datetimepicker').datetimepicker({
dayOfWeekStart : 1,
lang:'en',
disabledDates:['1986/01/08','1986/01/09','1986/01/10'],
startDate:	'1986/01/05'
});
$('#datetimepicker').datetimepicker({value:'2015/04/15 05:03',step:10});

$('.some_class').datetimepicker();

$('#default_datetimepicker').datetimepicker({
	formatTime:'H:i',
	formatDate:'d.m.Y',
	//defaultDate:'8.12.1986', // it's my birthday
	defaultDate:'+03.01.1970', // it's my birthday
	defaultTime:'10:00',
	timepickerScrollbar:false
});

$('#datetimepicker10').datetimepicker({
	step:5,
	inline:true
});
$('#datetimepicker_mask').datetimepicker({
	mask:'9999/19/39 29:59'
});

$('#datetimepicker1').datetimepicker({
	datepicker:false,
	format:'H:i',
	step:5
});
$('#datetimepicker2').datetimepicker({
	yearOffset:222,
	lang:'ch',
	timepicker:false,
	format:'d/m/Y',
	formatDate:'Y/m/d',
	minDate:'-1970/01/02', // yesterday is minimum date
	maxDate:'+1970/01/02' // and tommorow is maximum date calendar
});
$('#datetimepicker3').datetimepicker({
	inline:true
});
$('#datetimepicker4').datetimepicker();
$('#open').click(function(){
	$('#datetimepicker4').datetimepicker('show');
});
$('#close').click(function(){
	$('#datetimepicker4').datetimepicker('hide');
});
$('#reset').click(function(){
	$('#datetimepicker4').datetimepicker('reset');
});
$('#datetimepicker5').datetimepicker({
	datepicker:false,
	allowTimes:['12:00','13:00','15:00','17:00','17:05','17:20','19:00','20:00'],
	step:5
});
$('#datetimepicker6').datetimepicker();
$('#destroy').click(function(){
	if( $('#datetimepicker6').data('xdsoft_datetimepicker') ){
		$('#datetimepicker6').datetimepicker('destroy');
		this.value = 'create';
	}else{
		$('#datetimepicker6').datetimepicker();
		this.value = 'destroy';
	}
});
var logic = function( currentDateTime ){
	if (currentDateTime && currentDateTime.getDay() == 6){
		this.setOptions({
			minTime:'11:00'
		});
	}else
		this.setOptions({
			minTime:'8:00'
		});
};
$('#datetimepicker7').datetimepicker({
	onChangeDateTime:logic,
	onShow:logic
});
$('#datetimepicker8').datetimepicker({
	onGenerate:function( ct ){
		$(this).find('.xdsoft_date')
			.toggleClass('xdsoft_disabled');
	},
	minDate:'-1970/01/2',
	maxDate:'+1970/01/2',
	timepicker:false
});
$('#datetimepicker9').datetimepicker({
	onGenerate:function( ct ){
		$(this).find('.xdsoft_date.xdsoft_weekend')
			.addClass('xdsoft_disabled');
	},
	weekends:['01.01.2014','02.01.2014','03.01.2014','04.01.2014','05.01.2014','06.01.2014'],
	timepicker:false
});
var dateToDisable = new Date();
	dateToDisable.setDate(dateToDisable.getDate() + 2);
$('#datetimepicker11').datetimepicker({
	beforeShowDay: function(date) {
		if (date.getMonth() == dateToDisable.getMonth() && date.getDate() == dateToDisable.getDate()) {
			return [false, ""]
		}

		return [true, ""];
	}
});
$('#datetimepicker12').datetimepicker({
	beforeShowDay: function(date) {
		if (date.getMonth() == dateToDisable.getMonth() && date.getDate() == dateToDisable.getDate()) {
			return [true, "custom-date-style"];
		}

		return [true, ""];
	}
});
$('#datetimepicker_dark').datetimepicker({theme:'dark'})


</script>
<!--日期控件-->

