<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/v_menu.css">
<link rel="stylesheet" type="text/css" href="../css/banner.css">
<link rel="stylesheet" type="text/css" href="../css/index.css">


<script data-main="../js/index" src="../js/lib/require.js" ></script>


</head>

<body >

<!-- 加载头部 -->
<div id="header"></div>	


<!-- 添加banner标题控制域 ms-controller="banner"   未加载数据前隐藏 ms-controller -->
<div ms-controller="banner" class="mainbanner min-width ms-controller">
	
  <div class="mainbanner_window">
    <div id="focus">
      <div class="focus-bar-box" id="focus-bar-box">
        <ul class="focus-bar">
	        
<!-- 	        数据循环 -->
	        <li ms-for="el in @info" class="focus-1"> <a href=""> <img ms-attr="{src: el.picurl }" width="1440" height="352"  alt=""/></a></li>
	         
        </ul>
         </div>
      <div id="focus-num" class="change"> <a ms-for="el in @info" class=""></a> </div>
    </div>
  </div>
</div>


<div class="wrap mt30">
	
<div class="index_left mr30">
	
	
<!-- 	左侧活动 -->
<ul ms-controller="huodong" class="ms-controller">
	
<li ms-for="el in @info" class="index_left_list">
<a href="event_info.html"><img ms-attr="{src: el.url}" width="300" height="200" /></a>
<h3><a href="event_info.html" title="爱洛阳车友会5月21日受邀参加第二届中原泡泡跑活动，约你来一次与泡泡的狂欢派对！">{{el.title}}</a></h3>
<div><span class="time_icon"></span>{{el.s_time_str}}<em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1天</em></div>
<div class="a_price_r"><span class="a_price_f fl">活动费用</span><span class="a_price fl">￥{{el.price}}</span><div class="clear"></div></div>
<div class="user_o"><a href=""><img ms-attr="{src: el.headimage}" width="50" height="50" /><span class="user_name">{{el.nickname}}</span></a><span class="user_other fr"><span class="view_times"></span>{{el.view}}<span class="user_no"></span>{{el.collect}}</span></div>
</li>

</ul>


<!-- 点击加载下一页 -->
<div ms-controller="pageClick" ms-click="@nextPageClick()" class="get_more ms-controller">{{@msg}}<img ms-attr="{hidden: @end}" src="../images/arrow.png" width="15" height="15" /></div>
</div>



<div class="index_right" ms-controller="paihang" class="ms-controller">
	
	<img ms-attr="{src: @picurl}" width="280" height="206" />
	
<div class="index_left_tit">活动排行</div>


<!-- 活动排行 -->
<ul >
	
<li ms-for="el in @info"  class="index_right_list"><a href="event_info.html" title="爱在洛阳—“千人相亲会”5月21日等你来！">{{el.title}}</a><span class="a_time">{{el.s_time_str}}</span></li>

</ul>



</div>
<div class="clear"></div>
</div>
<div id="tbox">
	<a id="gotop" href="javascript:void(0)"></a>
	<a id="float_btn" href="add_activity.html"></a>
</div>
</body>
</html>
