<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/v_menu.css">
<link rel="stylesheet" type="text/css" href="../css/page.css">

<script data-main="../js/re_password" src="../lib/require.js" ></script>

</head>

<body>
	
<!-- 加载头部 -->
<div id="header"></div>	

<div class="wrap ms-controller" ms-controller="re_passwordVC" id="re_passwordVC">
<div class="page_tit mt15">找回密码</div>
<div class="login_main re_p">
	<form ms-validate="@validate">
<ul>
<li style="height:40px; line-height:40px;">请认真填写以下信息：  <span style="color: red"> {{@message}} </span>
</li>

<li>
<input id="mob" ms-rules='{required:true,pattern:/0?(13|15|18|17)[0-9]{9}/}' ms-duplex="@mob" data-required-message="请输入你的手机号" data-message="请输入正确的手机号" maxlength="11" style="ime-mode:disabled;" name="mod_no" type="tel" placeholder="请输入手机号" class="login_text"/>
</li>

<li class="rel">
<input ms-rules="{required:true}" ms-duplex="@paddword" data-required-message="请输入验证码"  name="paddword" type="text" placeholder="验证码" class="login_text"/>
<button class="login_yzm abs tc db f14" ms-click="@sendCodeClick()" ms-attr="{disabled: @mobDisabled}">{{@code}}</button>
</li>

<li>
<input id="pw" ms-rules='{required:true,minlength:6,maxlength:18}' ms-duplex="@pw" data-required-message="请输入登录密码" data-message="密码长度为6-18位" name="mod_no" type="password" placeholder="登录密码" class="login_text"/>
</li>

<li>
<input id="cpw" ms-rules="{required:true,equalto:'pw'}" ms-duplex="@cpw | change" data-required-message="请输入确认登录密码" data-message="密码和确认密码不一致" name="paddword" type="password" placeholder="确认登录密码" class="login_text"/>
</li>

<li><button class="f16">重置密码</button></li>
</ul>
	</form>
</div>
</div>

</body>
</html>
